.container {
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

.table-container {
  overflow-x: scroll;
  border-radius: 10px;
}

.data-table {
  width: 1450px;
  border-collapse: collapse;
  overflow-x: scroll;
  table-layout: fixed;
}

.data-table th {
}

.data-table th,
.data-table td {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.data-table td {
  font-family: "Montserrat";
  font-weight: 800;
}

.data-table th {
  background-color: white;
  font-weight: bold;
  border-bottom: solid 1px #4980c0;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}

.data-table tbody tr:nth-child(even) {
  background-color: white;
}

.arrows {
  color: white;
}

.pagination {
  display: flex;

  justify-content: center;
}

.pagination ul {
  display: flex;

  list-style-type: none;
}

ul li {
  cursor: pointer;
  margin: 0 3px;
  color: #ffffff;
  font-weight: 400;
}

ul li:hover {
  font-weight: 700;
  border-bottom: 1px solid white;
}

.active {
  font-weight: 700;
  border-bottom: 1px solid white;
}

.arrows {
  cursor: pointer;
}

#filter {
  background-color: white;
  color: grey;
  height: 42px;
  width: 170px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#filter p {
  font-family: "Montserrat";
  font-weight: 800;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.filterbar {
  width: 297px;
  height: 297px;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 206px;
  border-radius: 10px;
}

.filterbar h4 {
  font-size: 14px;
  color: #565656;
}

.searchbar input {
  background-color: white;
  color: grey;
  height: 37px;
  width: 260px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
